@charset "UTF-8";
/* CSS Document Programa Patenta */

@font-face {
	font-family: roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

*{margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	font-family: roboto;
}

#contenedor {
	max-width: 1200px;
	margin: auto;
}

header {display: flex;justify-content: space-between; flex-direction: row;padding-top: 20px; padding-bottom: 20px;}

nav ul{list-style:none;
	display: flex; justify-content: space-around; margin-top: 10px; 
}

.navbar-collapse{
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	font-family: roboto !important;
	font-weight: bold;
}

.nav-item img{
	width: 140px;
	height: auto;
}

.nuestros-servicios{
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	font-size: 1.2em !important;
}

.nuestros-servicios h1{
	font-size: 1.2em !important;
	font-weight: bold;
}

.nuestros-servicios p{
	max-width: 800px;
	margin: 25px auto 0 auto;
	font-size: 0.9em !important;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);cursor:default; transition: all 400ms ease;
}

.card:hover{box-shadow: 5px 5px 20px rgba(0,0,0,0.4); transform: translateY(-3%);}

.card i{
    font-size: 80px;
    color: #153D58;
    padding-bottom: 20px;
    
}

.card a{
    text-decoration: none;
    color: #14352F;
}

header figure img {width: 275px;}
nav ul {display: flex;justify-content:center; flex-wrap: wrap;flex-direction: column;}

nav li a {display: flex;justify-content:left; flex-direction: row;margin-bottom: 20px;}
nav li a div {margin-left: 10px; padding-top: 4px;}
nav li img {display:block;}
nav li hover{background-color: gray}



.banner img {width: 100%;}

.col-lg-6 img {
	width: 100%;
}

.seccion1 {
	display: flex;
	justify-content:space-around;
	background-image: url(../images/fondo.png);
	height: 225px;
	padding-top: 40px; 
	padding-bottom: 40px;
	margin-bottom: 20px;
	padding-left: 20px; 
	padding-right: 20px;
}

.seccion1 section { 
	display: flex; 
	justify-content: space-around;
}
.seccion1 p {
	color: white;
	font-size: 1em;
	font-family: roboto !important;
	font-weight: bold;
}
.seccion1 h1 {
	color: white;
	font-size: 1.5em;
	font-family: roboto !important;
	font-weight: bold;
}
.seccion1 h2 {
	color: #7ADBD4;
	font-size: 1.5em;
	font-family: roboto !important;
	
}


.footer {display: flex;justify-content:left;align-items: center; background-image: url(../images/footer.jpg); height: 100px; margin-top: 20px;}
.footer div{padding-top: 60px;}
.footer figure{padding-top: 30px; margin-left: 20Px;height: 100px;}
.footer {color:white;}

.seccion2 { 
	display: flex;
	justify-content: space-around; 
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.seccion2 article {background-color: #014E6D; padding: 30px;display:flex; align-items: center ;flex-wrap: wrap;width: 46%;}
.seccion2 article p {color: white; text-align: justify; width: 100%;}
.seccion2 article div {width: 100%;}
.seccion2 h3 {text-align: center;padding: 20px;color: #2273C2; width: 100%;}
.seccion2 div p {padding-right: 30px;padding-left: 30px; padding-bottom: 30px; text-align: justify;}


.seccion2 figure {
	max-width: 648px;
	margin-left: auto;
	margin-right: auto;
}

.nosotros{
    
	background-image: url(../images/pattern-bg.png);
    background-size: cover;
    color: white;
    padding: 60px 20px 60px 20px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.nosotros h1{
	font-size: 1.5em;
	font-weight: bold;
}

.proteger-invenciones h1{
	font-size: 1.5em;
	font-weight: bold;
}

.seccion2 img {
	width: 100%;
	height: auto;
}



.seccion2 article div a {display: flex;justify-content:center; flex-direction: row;margin-bottom: 20px; text-decoration: none; color: white; margin-left: auto;margin-right: auto;}
.seccion2 article div a figure{margin-right: 15px;}

@media screen and (max-width:425px) /* cuando la pantalla es maximo 425 pixeles */ 
{ 
	.seccion1 {
		height: 300px;
		display: flex;
		justify-content:center; 
		flex-wrap: nowrap; 
		flex-direction: column;
		padding-top: 30px; 
		padding-bottom: 20px;
		margin-bottom: 15px;
		padding-left: 15px; 
		padding-right: 15px;}
	.seccion1 p {margin-bottom: 20px;}
} 

@media screen and (max-width:767px) /* cuando la pantalla es maximo 480 pixeles */ 
{ 
	.seccion2 { display: flex; justify-content: space-around; flex-wrap: wrap; flex-direction: column;}
	.seccion2 article {background-color: #2273C2; padding: 30px;display:flex; align-items: center;width: 100%;}
	.seccion2 div {width: 100%;}
} 